# =====================================================
# PORT OF
# =====================================================

PORTAI_NERGUI_EA_PORT_OF=8000
PORTAI_NERGUI_UI_PORT_OF=9443

# =====================================================
# PORT
# =====================================================

PORTAI_NERGUI_EA_PORT=8000
PORTAI_NERGUI_UI_PORT=9443
